@font-face {
  font-family: "Alegreya-Regular";
  src: local("Alegreya-Regular"), url(/fonts/Alegreya-Regular.ttf);
}

@font-face {
  font-family: "Alegreya-Medium";
  src: local("Alegreya-Medium"), url(/fonts/Alegreya-Medium.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Alegreya-Medium";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
