.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}


.container > p {
  color: black;
  letter-spacing: 0.5em;
  transition: letter-spacing 0.1s ease-in-out;
}

.container > p:hover {
  letter-spacing: 0.6em;
}